.mapImg{
    width: 70rem;
}

.mapCon{
    display: flex;
    justify-content: center;

}

.mainCon{
    max-width: 82rem;
}

.catCon{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.actCon{
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 50%);
    margin: 15px;
}

.actImg{
    width: 350px;
    height: 15rem;
    /* margin-bottom: 0; */
    display: block; /* remove white space below image */
}

.actTxt{
    background-color: rgb(255, 255, 255);
    font-size: var(--fontH5);
    padding: 10px 10px 10px 50px;
}

.ride4Con{
    display: flex;
    justify-content: center;
    width: 82rem;
}

.warnTxt{
    background-color: rgba(255, 0, 0, 40%);
    /* width: 100%; */
    padding: 10px 50px;
}