*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Roboto;
    font-size: 14px;
    --fontH1: 2rem;
    --fontH2: 1.8rem;
    --fontH3: 1.6rem;
    --fontH4: 1.4rem;
    --fontH5: 1.2rem;
    --containerMargin: 150px;
}

body{
    background-color: #fdecff;
}

.navigationDiv{
    color: #fff;
    background: linear-gradient(#816EA7, #534278);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--fontH1);
    padding: 0.5rem 10rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.logoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoImg{
    height: 40px;
}

.logoTxt{
    font-size: var(--fontH5);
}

.specialFeaCon{
    background-image: url("../images/mainFea.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.specialFeaTxt{
    margin: 0 0 20px 50px;
    font-size: 1.5rem;
}

.mainCon{
    /* putting horizontal center */
    margin: 0 auto;
    max-width: 95rem;
    overflow: hidden;
}

.title{
    font-size: var(--fontH2);
    margin-top: 40px;
    margin-bottom: 5px;
    width: 100%;
}

.restGiftFeasCon{
    margin-top: 15px;
    padding: 10px;
    display: grid;
    gap: 8px;
    grid-template-areas:
    "a b d"
    "a c d";
}

.restGiftFeasCon img, .rideShowFeasCon img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 50%);
}

.feaCon{
    position: relative;
}

.sweetFeaCon{
    grid-area: a;
}

.barFeaCon{
    grid-area: b;
}

.giftFeaCon{
    grid-area: c;
}

.treeFeaCon{
    grid-area: d;
}

.feaTxt{
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: var(--fontH4);
    color: #fff;
    text-shadow: 0 0 5px rgb(0 0 0 / 80%);
}

.rideShowFeasCon{
    /* width: 70rem;
    margin-left: 10rem; */
    margin-top: 15px;
    padding: 10px;
    display: grid;
    gap: 8px;
    /* grid-template-columns: repeat(1fr); */
    justify-items: center;
    justify-content: center;
    grid-template-areas:
    "e e"
    "f g"
    "h h";
}

.rollerFeaCon{
    grid-area: e;
}

.ferrisFeaCon{
    grid-area: f;
}

.animalFeaCon{
    grid-area: g;
}

.circusFeaCon{
    grid-area: h;
}

footer{
    color: #fff;
    display: flex;
    font-size: var(--fontH5);
    background: linear-gradient(#816EA7, #534278);
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around;
}

.physicalCon{
    display: flex;
    align-items: center;
}

.socialCon img{
    height: 30px;
    margin: 5px;
}