button{
    background-color: #816EA7;
    width: 25px;
    border: solid 0.1px;
    border-radius: 20px;
    font-size: var(--fontH4);
}

button:hover{
    cursor: pointer;
}

.hotelImgCon{
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

.hotelImg{
    width: 100%;
    border-radius: 20px;
}

.hotelTxt{
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: calc(var(--fontH1) * 2.3);
    color: #fff;
    text-shadow: 0 0 5px rgb(0 0 0 / 80%);
}

.title{
    font-size: var(--fontH1);
    font-weight: 1000;
    margin-bottom: 10px;
}

.planCon{
    font-size: var(--fontH4);
}

.choiceCons{
    display: flex;
    width: 40rem;
    margin-bottom: 10px;    
}

.choiceCons .txt{
    flex: 1;
}

.btns{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.passesCon{
    display: flex;
    justify-content: space-around;
}

/* silver and diamond passes */
.passesCon>div{
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    position: relative;
}

.passesCon .title{
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.passesCon .txt li{
    margin: 0 0 8px 30px;
    -webkit-text-stroke: 0.6px black;
    list-style: url("../images/caret-right-solid.svg");
}

.passesCon img{
    position: absolute;
    bottom: 40px;
    left: 100px;
    width: 100px;
}

.silver{
    /* -webkit-text-fill-color: transparent; */
    color: hsl(0, 0%, 69%);
    -webkit-text-stroke: 0.1px black;
    background: linear-gradient(0.25turn, hsl(0, 0%, 69%), hsl(0, 0%, 86%), hsl(0, 0%, 69%));
}

.diamond{
    /* -webkit-text-fill-color: transparent; */
    color: hsl(203, 55%, 74%);
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    background: linear-gradient(0.25turn, hsl(202, 49%, 78%), hsl(201, 55%, 94%), hsl(202, 49%, 78%));
}

